<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="public/css/app.css" />
    <title>teste</title>
  </head>
  <body>
    <div class="card bg-light">
      <div class="card-header">Checkboxes</div> 
      <div class="card-body">
        <div class="list-group checkbox-list-group">
          <div
            class="list-group-item shadow list-group-item-action list-group-item-info"
          >
            <label>
              <input type="checkbox" name="ckb1" id="ckb1" />
              <span class="list-group-item-text">
                <i class="far"></i>
                Checkbox 1
              </span>
            </label>
          </div>
          <div
            class="list-group-item shadow list-group-item-action list-group-item-info"
          >
            <label>
              <input type="checkbox" name="ckb2" id="ckb2" />
              <span class="list-group-item-text">
                <i class="far fa-square"></i>
                Checkbox 2
              </span>
            </label>
          </div>
          <div
            class="list-group-item shadow list-group-item-action list-group-item-info"
          >
            <label>
              <input type="checkbox" name="ckb1" id="ckb1" />
              <span class="list-group-item-text">
                <i class="far fa-square"></i>
                Checkbox 1
              </span>
            </label>
          </div>
          <div
            class="list-group-item shadow list-group-item-action list-group-item-info"
          >
            <label>
              <input type="checkbox" name="ckb1" id="ckb1" />
              <span class="list-group-item-text">
                <i class="far fa-square"></i>
                Checkbox 1
              </span>
            </label>
          </div>
          <div
            class="list-group-item shadow list-group-item-action list-group-item-info"
          >
            <label>
              <input type="checkbox" name="ckb1" id="ckb1" />
              <span class="list-group-item-text">
                <i class="far fa-square"></i>
                Checkbox 1
              </span>
            </label>
          </div>
          <div
            class="list-group-item shadow textarea-list-group-info"
          >
          <textarea class="form-control hs-input-text" v-model="customText" cols="30" rows="5">
          </textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="card bg-light">
      <div class="card-header">Radios</div>
      <div class="card-body">
        <div class="list-group radio-list-group">
          <div
            class="list-group-item shadow list-group-item-action list-group-item-info"
          >
            <label>
              <input type="radio" name="rd1" id="rd1" />
              <span class="list-group-item-text">
                <i class="far"></i>
                Radio 1
              </span>
            </label>
          </div>
          <div
            class="list-group-item shadow list-group-item-action list-group-item-info"
          >
            <label>
              <input type="radio" name="rd1" id="rd1" />
              <span class="list-group-item-text">
                <i class="far fa-square"></i>
                Radio 2
              </span>
            </label>
          </div>
          <div
            class="list-group-item shadow list-group-item-action list-group-item-info"
          >
            <label>
              <input type="radio" name="rd1" id="rd1" />
              <span class="list-group-item-text">
                <i class="far fa-square"></i>
                Radio 1
              </span>
            </label>
          </div>
          <div
            class="list-group-item shadow list-group-item-action list-group-item-info"
          >
            <label>
              <input type="radio" name="rd1" id="rd1" />
              <span class="list-group-item-text">
                <i class="far fa-square"></i>
                Radio 1
              </span>
            </label>
          </div>
          <div
            class="list-group-item shadow list-group-item-action list-group-item-info"
          >
            <label>
              <input type="radio" name="rd1" id="rd1" />
              <span class="list-group-item-text">
                <i class="far fa-square"></i>
                Radio 1
              </span>
            </label>
            <textarea class="form-control hs-input-text" v-model="customText" cols="30" rows="5">
            </textarea>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
